CREATE user {{ db_user }} WITH PASSWORD {{ db_pwd }};

CREATE SCHEMA "{{ schema_name }}";
GRANT CONNECT ON DATABASE "{{ db_name }}" TO migration;
grant USAGE ON SCHEMA "{{ schema_name }}" TO "{{ db_user }}";
ALTER DEFAULT PRIVILEGES REVOKE EXECUTE ON functions FROM public;

DO $$
BEGIN
CREATE ROLE migration;
EXCEPTION WHEN duplicate_object THEN RAISE NOTICE '%, skipping', SQLERRM USING ERRCODE = SQLSTATE;
END
$$;

GRANT CONNECT ON DATABASE "{{ db_name }}" TO migration;
GRANT USAGE, CREATE ON SCHEMA "{{ schema_name }}" TO migration;
GRANT INSERT, UPDATE, DELETE, REFERENCES, TRIGGER, TRUNCATE ON ALL TABLES IN SCHEMA "{{ schema_name }}" TO migrate

DO $$
BEGIN
CREATE USER migrate_user;
EXCEPTION WHEN duplicate_object THEN RAISE NOTICE '%, skipping', SQLERRM USING ERRCODE = SQLSTATE;
END
$$;

GRANT migration TO migrate_user;

CREATE extension pgcrypto;
CREATE extension btree_gist;
CREATE extension pg_trgm;